.container {
    width: 100%;
}
.link:hover {
    text-decoration : underline;
    color: #6f8d2b;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
}
.item:hover {
    background-color: #fafafa;
}
.badge {
    width: 100px;
    height: 100px;
}
.item_sec {
    display: inline-block;
    height: 100%;
    padding: 10px;
}
.item_sec.grow_sec {
    flex-grow: 1;
    text-align: left;
    margin-left: 1rem;
}


.btn {
    padding: 3px 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background: #f2f2f2;
}
.btn.attend {
    background: #4dd21d;
    color: white;
    border-color: #41aa1b;
}

.weak {
    color: #949494;
    font-size: 0.9rem;
    font-weight: 300;
}
.title {
    font-size: 1.2rem;
}
.strong {
    font-size: 1.3rem;
    font-weight: 700;
    color: #585858;
}

.group_pagebtn {
    margin: 10px 0 20px 0;
}

.pagebtn {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.pagebtn:hover {
    background: #e6e6e6;
}
.pagebtn:active {
    background: #d4d4d4;
}
.pagebtn.current {
    color: #5b771b;
    font-weight: 900;
}

.mt-1 {
    margin-top: 0.5rem
}
.mt-2 {
    margin-top: 1rem
}

.mb-1 {
    margin-bottom: 0.5rem
}
.mb-2 {
    margin-bottom: 1rem
}

.w-1 {
    width: 10%;
}
.w-2 {
    width: 20%;
}
.w-3 {
    width: 30%;
}
.w-4 {
    width: 40%;
}
.w-5 {
    width: 50%;
}

