spring:
  datasource:
    password: root
    username: root
    url: jdbc:mariadb://localhost:3307/moida
    driver-class-name: org.mariadb.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  http:
    multipart:
      maxFileSize: 100MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: jikumjikum207@gmail.com
    password: kmueafliiwvcdmfx
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org:
      springframework: INFO
    com:
      ssafy: INFO
      amazonaws:
        util:
          EC2MetadataUtils: ERROR
server:
  port: 5000
  servlet:
    context-path: /api

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    display-request-duration: true
    tags-sorter: alpha
    operations-sorter: alpha
    doc-expansion: none
    syntax-highlight:
      theme: nord
    urls-primary-name: TEST API
    persist-authorization: true
    query-config-enabled: true
  pre-loading-enabled: true
  packages-to-scan: com.ssafy.moida

cloud:
  aws:
    s3:
      bucket: moida.bucket
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false
    credentials:
      access-key: ${STORAGE_PUBLIC_KEY}
      secret-key: ${STORAGE_PRIVATE_KEY}

