.intro {
    height: calc(100vh - 64px);
    width: 100vw;
}
.nft {
    height: 2000px;
    width: 100vw;
}
.footer {
    height: 200px;
    width: 100vw;
    background-color: grey;
}

#card_0 {
    background-color: blue;
}
#card_1 {
    background-color: green;
}
#card_2 {
    background-color: red;
}

.card {
    position: sticky;
    top: 64px;
    min-height: calc(100vh - 64px);
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.card.show{
    transform: translateX(0);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}